/* .wrapper {
  font-size: min(1.8vw, 18px);
} */

.hospital__UserHeading {
  font-size: 2em;
  padding-bottom: 2%;
}

.hospital__reviews {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28em, 1fr));
  grid-column-gap: 2%;
  grid-row-gap: 1%;
}

.hospital__review {
  border: solid rgb(212, 211, 211) 1px;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(212, 211, 211);
  border-radius: 0.5em;
  padding: 1.5%;
  margin: 3%;
  font-size: 1.3em;

  width: 20em;

  display: flex;
  justify-content: space-between;
}

.hospital__userImage {
  width: 10em;
}

.btn {
  border: none;
  background-color: black;
  color: white;
  border-radius: 0.5em;
  font-size: 1.6em;
  padding: 0.5em;
  margin: 0.7em;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.911);
  cursor: pointer;
}

.give_padding {
  padding: 0.4em;
}
