*{
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top:0;
  position: sticky;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.form{
  box-sizing: border-box;
  border: 1px solid black;
  width:33%;
  margin-left: 33%;
  margin-right: 33%;
  padding:20px;
  display: flex; 
  background-color: coral;
 justify-content: center;
}
.form-group>input{
  width:80%;
  
}

.form-group{
  text-align: center;
}
.cards{
  border: 1px solid black;
  display: flex;
  padding: 10px;
  margin: 10%;
  overflow:scroll;
  background-color:coral;
}
.card{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: azure;
}

.Home{
  margin: 10%;
}