/* .wrapper {
  font-size: min(1.8vw, 13px);
} */

.hospital__departmentName {
  padding-bottom: 2%;
  font-size: 2em;
}

.hospital__departments {
  /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 1%;
}

.hospital__department {
  border: solid rgb(212, 211, 211) 1px;
  box-shadow: 0.25em 0.25em 0.25em 0.25em rgb(212, 211, 211);
  border-radius: 0.5em;
  padding: 2%;
  margin: 4%;
  font-size: 1.5em;
  text-transform: capitalize;
}
