.wrapper {
  font-size: min(1.8vw, 18px);
}

.hospital__amenityHeading {
  padding-bottom: 2%;
  font-size: 2em;
}

.hospital__amenities {
  /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 1%;
}

.hospital__amenity {
  border: solid black 2px;
  border-radius: 0.5em;
  padding: 2%;
  margin: 4%;
  font-size: 1.5em;
  text-align: center;
}
