/* .wrapper {
  font-size: min(1.8vw, 18px);
} */

.hospital__doctorName {
  font-size: 2em;
  padding-bottom: 2%;
}

.hospital__doctors {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
  grid-column-gap: 2%;
  grid-row-gap: 1%;
}

.hospital__doctor {
  border: solid rgb(212, 211, 211) 1px;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgb(212, 211, 211);
  border-radius: 0.5em;
  padding: 1.5%;
  margin: 3%;
  font-size: 1.3em;

  width: 23em;

  display: flex;
  justify-content: space-around;
}

.hospital__doctorImage {
  width: 10em;
}
.bold {
  font-weight: 800;
}
